/* css for table WBS */
.wbs-list th[data-name="task_id"] {
    width: 200px !important;
}

.wbs-list th[data-name="phase_id"] {
    width: 50px !important;
}

.wbs-list th[data-name="planned_start"],
.wbs-list th[data-name="actual_start"] {
    min-width: 100px !important;
    max-width: 130px !important;
}

/* css for table issue */
.issue-list th[data-name="priority"] {
    width: 70px !important;
    max-width: 70px !important;
}

.issue-list th[data-name="issue_no"] {
    width: 35px !important;
    max-width: 35px !important;
}

/* Hide datetime picker in Member Workload calendar sidebar */
.o_calendar_sidebar .o_datetime_picker {
    display: none !important;
}